.tabPane {
  padding-top: 24px;
}

.contentTabs {
  height: auto;
  text-align: center;
}

.tabPane {
  background-color: #fff;
  padding-top: 48px;
}

@media all and (max-width: 767px) {
  .tabPane {
    padding: 16px;
  }
}
