.basket {
  position: relative;
  padding: 13px 16px 20px;
  background-color: #fff0db;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  text-align: center;
  color: #d02121 !important;
}

.basket hr {
  margin: 10px 0 !important;
}

.title {
  text-align: center;
}

.lastRow {
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }
  .basket.isFlexbox {
    padding-bottom: 36px;
  }
}
