.header {
  height: 60px;
  background: #1d1d1d;
  padding: 18px;
  text-align: center;
}

.select {
  position: absolute;
  top: 15px;
  right: 20px;
}

.flag {
  height: 24px;
  margin-right: 12px;
}
